.wrapper {
  width: 100%;
  padding: 16px;
  //background: #f9f9f9;
  min-height: 100vh;

}

.container {
  //background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card {
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 8px;
  background: #fafafa;
  transition: all .2s;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  }
}