.header-nav {
    position: relative;
    height: 66px;
    width: 100%;
    border-bottom: 1px solid rgb(80, 79, 79);
    background-color: #0d0f14;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.nav-left {
    h3 {
        color: white;
        margin: 0;
    }
}

.nav-right {
    position: static;
    display: flex;
    align-items: center;
    gap: 10px;
}
